.chatcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.chatcard:hover{
   background-color: #c9c9c9;
}

.chat-details{
    display: flex;
    gap: 15px;
}

.chat-details img{
    border-radius: 50%;
    width: 30%;
}

.name{
    font-weight: bold;
}

.name-message{
    display: flex;
    flex-direction: column;
    gap: 5px;
}