.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(204, 200, 200);
    height: 3rem;
    padding: 10px;
}

.chat-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.name-date{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}