.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(204, 200, 200);
    height: 7%;
    padding: 10px;
}

.chat-info{
    display: flex;
    gap: 5%;
    align-items: center;
}

.chat-info img{
    border-radius: 50%;
    width: 14%;
}

.name-date{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}



.chat-header-morebutton,.chat-header-backbutton{
    color: grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.chat-header-backbutton{
    display: none;
}

.chat-header-morebutton:hover,.chat-header-backbutton:hover{
    background-color: rgb(241, 241, 241);
}

.chat-header-username{
    font-weight: bolder;
}

.chat-header-date{
    font-size: 87%;
    color: #6c6565;
}

@media screen and (max-width: 600px) {
    .chat-header-backbutton{
        display: flex;
    }
    .chat-info img{
        border-radius: 50%;
        width: 16%;
    }
    .chat-info{
        gap: 5%;
    }
    .Header{
        padding: 10px 0px 10px;
    }
}

